@import './variables';

body{
    font-family: 'Lato', 'sans-serif';
    color: $dark;
    
}

nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-cover;
    }
}

nav li a{
    &:hover{
        color: $primary;
    }
}

section.main-section{
    background: $secondary;
}

.add-to-cart, .btn-primary{
    border: 2px solid $primary;
    color: $primary;
    &:hover{
        background: $primary;   
        border-color: $pure;
        color: $pure;
    }
}

section.cart, section.login{
    background: $secondary;
    a{
        color: $primary;
    }
}

.amount{
    color: $primary;
}
